@model MountainOperations.Models.Lift

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lift1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift12)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LiftId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
